@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-font: 'Public Sans', sans-serif;
  --secondary-font: 'Oswald', sans-serif;
  --light-background: #FFF;
  --dark-background: #161C24;
  --primary-color: #FFF;
  --secondary-color: #212b36;
  --tertiary-color: #919EAB;
  --action-color: #2065D1;
  --hover-action-color: #103996;
}

.App{
  display: flex;
  flex-flow: column;
  width: 100%;
  font-family: var(--primary-font);
}

h3{
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 1rem;
  color: var(--tertiary-color);
}

.light-theme{
  background-color: var(--light-background);
  color: var(--secondary-color);
}

.dark-theme{
  background-color: var(--dark-background);
  color: var(--primary-color);
  background: transparent;
  backdrop-filter: blur(4px);
}