.herobanner{
  position: relative;
  height: 100vh;
}

.herobanner-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.herobanner-video{
  position: absolute;
  visibility: hidden;
}

.herobanner-canvas{
  width: 100%;
  height: 100vh;
  background-color: var(--dark-background);
}

.herobanner-content{
  position: absolute;
  top: 24%;
  left: 16%;
  z-index: 800;
  pointer-events: none;
  color: var(--primary-color);
  mix-blend-mode: difference;
}

.herobanner-content > h1{
  font-size: 3.625rem;
  text-shadow: 1px 1px 1px var(--secondary-color);
  span{
    color: var(--action-color);
  }
}

.herobanner-content > p{
  margin-top: 40px;
  line-height: 1.5;
  font-size: 1rem;
}