.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  height: 88px;
  z-index: 1000;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.navbar-logo{
  font-family: var(--secondary-font);
  font-size: 1.7rem;
  font-weight: 300;
}

.navbar-list{
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 0.875rem;
  .navbar-item{
    align-self: center;
    font-weight: 700;
    margin: 0 20px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
  }
  .navbar-item:nth-child(-n+4):hover{
    opacity: 0.48;
  }
  .navbar-btn{
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 0.875rem;
    background-color: var(--action-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  .navbar-btn:hover{
    background-color: var(--hover-action-color);
  }
}

.navbar-active{
  color: var(--action-color);
}