.planets{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120vh;
  background-color: var(--dark-background);
  padding: 0 176px;
  overflow: hidden;
  z-index: 999;
}

.planets-content{
  position: relative;
  flex: 6;
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: left;
  line-height: 1.8;
  color: var(--primary-color);
  h1{
    font-size: 2.75rem;
    margin-bottom: 40px;
  }
  p{
    max-width: 70%;
    line-height: 2.3;
    height: 250px;
    animation: textOpacity 0.7s ease-in;
  }
}

.planets-imgs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 6;
}

.planets-wrapper{
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.planets-wrapper > img:not(#uranus){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#uranus{
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.hidden-radio{
  display: none;
}

.planets-controls{
  position: absolute;
  top: calc(50% - 150px);
  right: 150px;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  width: auto;
  height: 300px;
}

.clickable-controls{
  border: 1px solid var(--tertiary-color);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:focus{
    padding: 10px;
    border: 1px solid var(--action-color);
    background-color: var(--hover-action-color);
  }
  &::after{
    content: attr(data-name);
    position: absolute;
    top: inherit;
    left: 8px;
    opacity: 0;
    font-family: var(--secondary-font);
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--primary-color);
    pointer-events: none;
    transform: translateY(-0.6rem);
    transition: all 0.5s ease-in-out;
  }
  &:hover{
    background-color: var(--action-color);
  }
  &:hover::after{
    opacity: 1;
    left: 20px;
  }
}

#radio1:checked ~ #mercury{
  opacity: 1;
}

#radio2:checked ~ #venus{
  opacity: 1;
}

#radio3:checked ~ #earth{
  opacity: 1;
}

#radio4:checked ~ #mars{
  opacity: 1;
}

#radio5:checked ~ #jupiter{
  opacity: 1;
}

#radio6:checked ~ #saturn{
  opacity: 1;
}

#radio7:checked ~ #uranus{
  opacity: 1;
}

#radio8:checked ~ #neptune{
  opacity: 1;
}

@keyframes textOpacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}