.planets{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120vh;
  background-color: var(--dark-background);
  padding: 0 88px;
  overflow: hidden;
  z-index: 999;
}

.planets-content{
  position: relative;
  flex: 6;
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: left;
  padding-bottom: 88px;
  line-height: 1.8;
  color: var(--primary-color);
  h1{
    font-size: 2.75rem;
    margin-bottom: 40px;
  }
  p{
    max-width: 70%;
    line-height: 2.3;
    animation: textOpacity 0.7s ease-in;
  }
  .planets-disclaimer{
    position: absolute;
    left: 0;
    bottom: 20px;
    font-size: 0.600rem;
  }
}

.planets-imgs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 6;
}

.planets-wrapper{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.planets-wrapper > img{
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover{
    transform: scale(1.02);
  }
}

.hidden-radio-inputs{
  display: none;
}

.planets-controls{
  position: absolute;
  top: calc(50% - 150px);
  right: 88px;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  width: auto;
  height: 300px;
}

.clickable-controls{
  border: 1px solid var(--tertiary-color);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:hover{
    background-color: var(--action-color);
  }
}

#radio1:checked ~ img{
  margin-top: 0;
}

#radio2:checked ~ img{
  transform: translateY(-500px);
}

#radio3:checked ~ img{
  margin-top: -1000px;
}

#radio4:checked ~ img{
  margin-top: -1500px;
}

#radio5:checked ~ img{
  margin-top: -2000px;
}

#radio6:checked ~ .planets-wrapper{
  margin-top: -2500px;
}

#radio7:checked ~ .planets-wrapper{
  margin-top: -3000px;
}

#radio8:checked ~ .planets-wrapper{
  margin-top: -3500px;
}

@keyframes textOpacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}