.toast{
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 220px;
  height: 220px;
  background: var(--primary-color);
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  animation: animateIn 1.5s ease-in;
}

.exit-animate{
  animation: animateOut 1s ease-in;
}

.toast-close{
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
}

.toast-para{
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.6rem;
}

.toast-sub-btn{
  border: none;
  width: 100px;
  height: 32px;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 0.875rem;
  vertical-align: middle;
  background-color: var(--action-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:hover{
    background-color: var(--hover-action-color);
  }
}

.done{
  background-color: #2ecc71;
  &:hover{
    background-color: #27ae60;
  }
}


// Toast Component Animations:
@keyframes animateIn {
  0%{
    opacity: 0;
    right: calc(-100vw - 300px);
  }
  100%{
    opacity: 1;
    right: 20px;
  }
}

@keyframes animateOut {
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  70%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(-50px);
  }
}

// Media Queries:

@media (max-width: 481px) {
  .toast {
    bottom: 3%;
    right: calc(50% - 110px);
  }
}